body {


}

.snipcart_cart_button {
  @apply btn btn-primary
}

.snipcart,
.snipcart__font--secondary,
.snipcart__font--subtitle,
.snipcart__font--subtitle-small,
.snipcart * {
  font-family: Inter;
}

.snipcart-base-button {
  border-radius: 8px;
  transition: background-color 300ms ease;
}

.snipcart-form__label {
  font-weight: 600;
}

.snipcart-button-secondary .snipcart-base-button__label {
  font-weight: 600;
}

.snipcart-input,
.snipcart-item-quantity__quantity,
.snipcart-form__select,
#snipcart-billing-form .snipcart-input--readonly {
  height: 42px;
  border-radius: 4px;
}

.snipcart-input .snipcart__icon {
  display: none;
}

.snipcart-input--icon .snipcart-input__input {
  padding-left: 12px;
}

.snipcart-cart-header .snipcart-modal__close-icon,
.snipcart-cart-header__icon,
.snipcart-billing-completed .snipcart-checkout-step__icon,
.snipcart-billing-completed__title .snipcart__icon--left,
.snipcart-customer-details-group__icon,
.snipcart-change-password__box .snipcart__close-icon {
  color: var(--ui-primary);
}

.snipcart__font--bold {
  font-weight: 600;
}

.snipcart-cart__secondary-header button {
  cursor: pointer;
}

.snipcart-item-line {
  border-radius: 4px;
}

.snipcart-payment-form {
  border-radius: 4px;
}

.snipcart-payment-form--focused {
  border: 1px solid var(--ui-separator);
  box-shadow: 0 0 0 4px var(--colors-gray-50);
}

.snipcart,
.snipcart__font--std {
  font-size: 1rem;
}
